section{
    margin-top: 100px;
      
}
div{
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: #7aa874;
    border: 2px solid black;
    margin: 10px;
    box-shadow: 2px 2px 15px black;
}
div:nth-of-type(2n){
    background-color: #f7db6a;
}
div:nth-of-type(3n){
    background-color: #ebb02d;
}
#three{
    transform: scaley(2);
}
#two{
    transform: scaley(1.5);
}
#one{
    transform: translatex(100px);
}
#four{
    transform: skew(30deg);}

    #five{
        transform: rotate(30deg) ;
    }
    #six{
  margin-top: 100px;
    }
